*.egg-info/
.eggs/
.ipynb_checkpoints/
dist/
build/
*.py[cod]
**/node_modules/

# generated code
generate_source/build
ipybootstrapvue/generated
js/lib/generated

# Compiled javascript
ipybootstrapvue/static/

.vscode/